body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.greeting-container {
  text-align: center;
  padding: 50px;
  background-image: url('./images/mountain.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 20px;
}

.title {
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
}

.subtitle {
  color: #fff;
  font-size: 1.2em;
}

.greeting-section {
  background-image: linear-gradient(120deg, #ff0, #008000);
  padding: 10px 70px;
  border-radius: 10px;
}

.random-greeting {
  color: #fff;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
